.catalog
  &_detail
    &_item
      display: flex
      justify-content: flex-start
      width: 100%
      gap: 70px
      .left
        width: 100%
        display: flex
        justify-content: space-between
        flex-direction: column
      &_content
        width: 100%
        padding: 70px
      &_rating
        display: flex
        justify-content: flex-start
        align-items: center
        font-weight: bold
        gap: 15px
        margin: 20px 0
        color: $textColor
      &_title
        font-size: 3.2rem
      &_desc
        color: $textColor
        max-width: 800px
      &_ingredient
        display: flex
        justify-content: flex-start
        align-items: center
        width: 600px
        overflow-x: auto
        overflow-y: hidden
        gap: 15px
        &_wrap
          display: flex
          justify-content: flex-start
          align-items: center
          gap: 15px
          min-height: 100px
          font-weight: bold
          color: $textColor
        & .item
          width: 65px
          height: 65px
          display: flex
          justify-content: center
          align-items: center
          text-align: center
          transition: all .3s ease
          &.active
            filter: grayscale(100%)
            transition: all .3s ease
          &_media
            width: auto
            height: 40px
      &_price
        font-family: $Comfortaa
        font-size: 35px
        font-weight: bold
      &_addcart
        cursor: pointer
        background-color: $green
        border-radius: $borderRadius
        border: none
        color: #fff
        font-weight: bold
        padding: 15px 30px
        margin-top: 30px
      &_media
        position: relative
        width: 100%
        max-width: 500px
        background-size: 100%
        img
          position: relative
          max-width: 500px
          // transform: translateX(-250px)
          z-index: 10
        .next_img
          position: absolute
          right: 0
          filter: blur(3px)
          // transform: scale(0.6) translateX(150px)
          z-index: 1
        &::before
          content: ''
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          background-color: rgba($red,.8)
        
  &_cat
    &_list
      display: flex
      justify-content: flex-start
      align-items: center
      width: 100%
      height: 100%
      gap: 30px
      margin-bottom: 20px
      transition: all .3s ease
      &.active
        .item
          cursor: grabbing
          transition: all .3s ease
      & .item
        display: flex
        position: relative
        cursor: pointer
        flex-direction: column
        justify-content: center
        align-items: center
        flex: 0 0 120px
        width: 120px
        height: 150px
        gap: 20px
        overflow: hidden
        border-radius: 50px
        background-color: $dark
        transition: all .3s ease
        &::before
          content: ''
          position: absolute
          left: 0
          right: 0
          bottom: 0
          margin: auto
          width: 25%
          height: 2px
          border-radius: 50px
          background-color: $red
          transition: all .3s ease
        &.active
          // background-color: $red
          // color: #fff
          &::before
            transition: all .3s ease
            width: 100%
            height: 100%
        &_wrap
          position: relative
          display: flex
          flex: 0 0 auto
          flex-direction: column
          justify-content: center
          align-items: center
          gap: 10px
          width: 100%
          height: 100%
          padding: 10px
          z-index: 10
        &_title
          position: relative
          font-size: 12px
          font-weight: bold
        &_media
          position: relative
          display: block
          width: auto
          height: 60px
  &_list
    display: flex
    width: 100%
    height: 600px
    justify-content: space-around
    gap: 30px
    flex-wrap: wrap
    &_item
      flex-basis: 30%
      position: relative
      width: 100%
      height: 440px
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center
      &.vert
        flex-basis: 100%
        overflow: hidden
        height: 200px
        flex-direction: row
        background-color: $dark
        border-radius: $borderRadius
        & .catalog
          &_list
            &_item
              &_content
                padding: 20px
                justify-content: space-between
                &::before
                  display: none
              &_status
                left: 85%
                z-index: 10
              &_media
                width: auto
                height: 100px
              &_price
                font-size: 14px
      &_content
        position: relative
        display: flex
        flex-direction: column
        gap: 10px
        padding: 0 30px 30px
        height: 100%
        width: 100%
        background-color: $dark
        border-radius: 0px 0 50px 50px 
        &::before
          content: ''
          position: absolute
          left: 0
          bottom: 100%
          height: 180px
          width: 100%
          border-radius: 50px 50px 0 0
          background-color: $dark
      &_status
        position: absolute
        left: 0
        top: 0
        background-color: $dark
        border-radius: 100%
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        color: $yellow
        text-shadow: $yellow 0 0 20px
      &_media
        width: auto
        height: 280px
        z-index: 10
      a
        text-decoration: none
        color: $textColor
      &_title
        font-family: $Comfortaa
      &_desc
        font-size: 12px
        height: 40px
        overflow: hidden
        color: $textColor
      &_price
        font-family: $Comfortaa
      &_footer
        display: flex
        justify-content: space-between
        align-items: center
        height: 50px
      &_action
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        gap: 5px
        max-width: 120px
        &_bay
          cursor: pointer
          width: 40px
          height: 40px
          border-radius: 100%
          font-size: 2.4rem
          display: flex
          font-family: $Comfortaa
          justify-content: center
          align-items: center
          
          &.plus
            background-color: $green
          &.minus
            background-color: $red
            opacity: 0
            transition: all .3s ease-in-out
            &.active
              opacity: 1
              transition: all .3s ease-in
          &_count
            width: 35px
            height: 40px
            border-radius: 10px
            background-color: $contentColor
            border: none
            text-align: center
            font-size: 18px
            font-weight: bold
            color: $textColor
            opacity: 0
            transition: all .3s ease-in-out
            &.active
              opacity: 1
              transition: all .3s ease-in
            &:focus
              outline: none