.chart
  &_row
    display: flex
    flex-direction: column
    width: 100%
    height: 400px
    gap: 40px
  &_line,&_bar
    background-color: $dark
    width: 100%
    max-width: 1200px
    height: 450px
    padding: 20px
    border-radius: $borderRadius
canvas
  width: 100%
  height: 320px!important
