#filter
  background-color: $dark
  width: 100%
  max-width: 800px
  height: 50px
  padding: 0 10px
  border-radius: $borderRadius
  display: flex
  justify-content: space-between
  align-items: center
  .sort
    position: relative
    min-width: 200px
    height: 32px
    background-color: $contentColor
    border-radius: $borderRadius
    padding: 0 20px
    font-weight: bold
    display: flex
    justify-content: flex-start
    align-items: center
    &_value
      width: 100%
      cursor: pointer
      display: flex
      color: $textColor
      justify-content: space-between
      align-items: center
      font-size: 14px
    &_list
      position: absolute
      left: 0
      top: 100%
      width: 100%
      color: $textColor
      border-radius: $borderRadius
      list-style: none
      background-color: $dark
      &_item
        padding: 10px 20px
        cursor: pointer
        display: flex
        justify-content: space-between
        align-items: center
        &:hover
          color: $green
          text-shadow: $green 0px 0px 20px
  input
    border-radius: $borderRadius
    padding: 0 20px
    height: 32px
    border: none
    font-size: 14px
    font-weight: bold
    background-color: $contentColor
    color: $textColor
    &:focus,&:active      
      outline: none

.air-datepicker
  background-color: $dark
  border: none
  color: $textColor
  border-radius: $borderRadius
  padding: 10px
  &::before
    display: none
    background-color: #333

  &-nav
    border: none
  
  &-body--day-name
    color: $green
    &.-weekend-
      color: $red
  &-nav--action
    background-color: $red
    border-radius: 100%
    svg
      fill: $red!important
  &-cell.-day-.-other-month-, .air-datepicker-cell.-year-.-other-decade-
    color: #ddd
.air-datepicker-cell
  border-radius: 100%
  &.-range-from-
    border-radius: 40px 0 0 40px
    border-color: $green
  &.-range-to-
    border-radius: 0 40px 40px 0
    border-color: $green
  &.-focus-
    color: $green
    background-color: rgba($green,.3)
  &.-current-
    color: $green
    background-color: rgba($green,.3)
  &.-selected-
    color: $green
    background-color: rgba($green,.3)
    &.-range-from-
      border-radius: 40px 0 0 40px
    &.-range-to-
      border-radius: 0 40px 40px 0
    &.-focus-
      background-color: rgba($green,.5)
  &.-in-range-
    color: rgba($green,.5)
    background-color: rgba($green,.1)
.air-datepicker--pointer:after
  left: 50px
  background-color: $dark
  border: none
.air-datepicker-cell.-day-.-other-month-, .air-datepicker .air-datepicker-cell.-year-.-other-decade-
  color: #808080
.air-datepicker-time--current-hours, .air-datepicker-time--current-minutes
  &.-focus-
    color: rgba($green,.5)
    background-color: rgba($green,.1)
.air-datepicker-time--row
  background: linear-gradient(to right, $green, $green) left 50%/100% var(--adp-time-track-height) no-repeat
.air-datepicker--buttons, .air-datepicker--time
  border: none
