.header
  display: flex
  justify-content: space-between
  padding: 10px 20px
  .cart, .back_btn
    width: 35px
    height: 35px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 100%
    border: 2px solid var(--tg-theme-button-color, #50a8eb)
    color: var(--tg-theme-text-color, #222222)
    box-shadow: $sh