.nav
  position: fixed
  bottom: 0
  left: 0
  padding: 0 20px
  height: 50px
  width: 100%
  border-top: 2px solid var(--tg-theme-button-color, #50a8eb)
  background-color: var(--tg-theme-bg-color, #ffffff)
  color-scheme: var(--tg-color-scheme)
  display: flex
  justify-content: space-between
  align-items: center
  &_link
    width: 35px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    font-size: 22px
    text-decoration: none
    color: var(--tg-theme-link-color, #2678b6)
    &:active, &:visited
      text-decoration: none
      color: var(--tg-theme-link-color, #2678b6)