.product
  &_cart
    &_list
      display: flex
      justify-content: flex-start
      flex-direction: column
      gap: 20px
      padding-bottom: 70px
      .product
        &_list
          &_item
            width: 100%
            display: flex
            flex-direction: row
            justify-content: flex-start
            gap: 15px
            color: var(--tg-theme-button-text-color, #ffffff)
            height: 100px
            &_content
              display: flex
              flex-direction: column
              justify-content: space-between
              width: 100%
            &_media
              align-self: flex-start
              width: 80px
            &_like
              right: 35px
            &_delete
              position: absolute
              right: 10px
              top: 10px
              width: 20px
              height: 20px
              color: var(--tg-theme-button-text-color, #ffffff)
              display: flex
              justify-content: center
              align-items: center
              font-size: 16px
  &_detail
    position: relative
    display: flex
    flex-direction: column
    &_content
      position: relative
      background-color: $accent
      height: 100%
      min-height: 250px
      display: flex
      flex-direction: column
      gap: 15px
      padding: 20px 20px 50px
      width: calc(100% + 40px)
      transform: translateX(-20px)
      &::before
        content: ''
        position: absolute
        top: -50px
        border-radius: 50px 50px 0 0 
        left: 0
        width: 100%
        height: 50px
        background: linear-gradient(0, rgba(#469c77, 1),rgba(#357458, 1))
    &_ingredients
      display: flex
      justify-content: flex-start
      align-items: center
      width: 100%
      height: 70px
      overflow: auto
      list-style: none
      white-space: nowrap
      gap: 15px
      &::-webkit-scrollbar
        display: none
      &_item
        width: 60px
        height: 50px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 10px
        color: var(--tg-theme-text-color, #222222)
        border: 1px solid var(--tg-theme-button-color, #50a8eb)
    &_mid
      display: flex
      justify-content: space-between
    &_like
      position: absolute
      right: 20px
      top: 20px
      width: 30px
      height: 30px
      color: $accent
      display: flex
      justify-content: center
      align-items: center
      font-size: 25px
      &.active
        color: $accent
        
    &_title
    &_desc
      color: var(--tg-theme-hint-color)
    &_media
      align-self: center
      width: 200px
      position: relative
      z-index: 10
    &_price
      font-weight: bold
      i
        font-size: 14px
  &_list
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 15px 0 70px 0
    gap: 20px
    &_item
      position: relative
      width: 45%
      height: 150px
      // background-color: #fff
      border: 1px solid var(--tg-theme-button-color, #50a8eb)
      border-radius: 20px
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 10px
      a
        display: flex
        flex-direction: column
        color: var(--tg-theme-text-color, #222222)
        text-decoration: none
      &_like
        position: absolute
        right: 10px
        top: 10px
        width: 17px
        height: 17px
        color: $accent
        &.active
          color: $accent
      &_title
      &_media
        align-self: center
        height: 70px
      &_price
        font-weight: bold
        i
          font-size: 14px
      &_bottom
        display: flex
        width: 100%
        justify-content: space-between
        align-items: center
      &_bay
        width: 65px
        gap: 2px
        display: flex
        justify-content: flex-end
        &_btn
          width: 20px
          height: 20px
          border-radius: 5px
          display: flex
          justify-content: center
          align-items: center
          color: #fff
          &.plus
            background-color: $accent
          &.minus
            background-color: $red
            display: none
            &.active
              display: flex
        &_count
          width: 20px
          display: none
          border: 1px solid rgba($accent,.3)
          border-radius: 5px
          text-align: center
          &:focus
            outline: none
          &.active
            display: block
.cart
  position: relative
  color: var(--tg-theme-text-color, #222222)
  margin-left: auto
  &_count
    position: absolute
    right: -5px
    top: -5px
    border-radius: 100%
    padding: 2px
    height: 20px
    min-width: 20px
    width: max-content
    max-width: 20px
    display: flex
    justify-content: center
    align-items: center
    background-color: #ff4646
    color: #fff
    font-weight: bold
  &_total
    border: 2px solid var(--tg-theme-button-color, #50a8eb)
    color: var(--tg-theme-text-color, #222222)
    padding: 0 20px
    border-radius: 20px
    display: flex
    justify-content: space-between
    align-items: center
    gap: 20px
    box-shadow: $sh
    z-index: 20
    &_price
      
      font-weight: bold
      font-size: 18px
    &_btn
      background-color: $accent
      border: none
      color: #fff
      padding: 8px 20px
      border-radius: 30px
.send_invoice
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  height: 60px
  z-index: 99
  &_btn